
@{
    ViewBag.Title = "Help";
}
<link href="~/css/help.css" rel="stylesheet" />
<div>
    <section class="heros" style=" text-align: center;
             color: white;
             justify-content: center;
             font-size: x-large;
             font-weight: 900;
             background-color: #2e3b8f;
             padding-top: 23vh;
             padding-bottom: 23vh;
             ">
        <div>
            <h1>CONTACT</h1>
        </div>
    </section><!-- End Hero No Slider Sectio -->
    
    <div class="container-fluid content-top-gap" style="    margin-top: 10px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Help</li>
            </ol>
        </nav>

    </div>
    <section class="w3l-contact3">
        <div class="contact1-bg section-gap">
            <div class="container">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 px-lg-3 px-0">
                    <h4 class="section-title">Get in touch with us</h4>
                    <p class="text-center">
                        If you are interesting you can Contact following these Links.
                    </p>
                </div>
                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="column">
                            <h3 class="section-title">We are here for you</h3>
                            <p class="text-center">
                                For more information or inquiry about our products, projects and pricing
                                please feel free to
                                get in touch with us.
                            </p>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div>
                                    <strong class="info">Address:</strong> FW98+99M, Bypass, Kot Addu, Muzaffargarh, Punjab
                                </div>
                            </div>
                            <div class="contact-info-align">
                                <div>
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div>
                                    <strong class="info">Phone:</strong> <a href="tel:+923070208691">+923070208691</a> ,
                                    <a href="tel:+923026628691"> +923026628691</a>
                                </div>
                            </div>
                            <div class="contact-info-align">
                                <div>
                                    <span class="fa fa-envelope-open-o"> </span>
                                </div>
                                <div>
                                    <strong class="info">Email:</strong> <a href="mailto:amanaks4554@gmail.com">
                                        amanaks4554@gmail.com
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="followus">
                            <h3>Follow us </h3>
                            <a href="https://www.facebook.com/aman.hera.10/" title="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="https://twitter.com/amanlove6628" title="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="https://www.linkedin.com/in/aman-ullah-836a3a20b/" title="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                    <!-- map iframe-->
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3438.8575170204927!2d70.91371575008388!3d30.468473581640357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39253dc4a58ea4ab%3A0x675199d95a46c11b!2sKaleem%20Electric%20Store!5e0!3m2!1sen!2s!4v1659217356224!5m2!1sen!2s" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- //map iframe -->
                </div>
            </div>
        </div>
    </section>

    <section class="contact-form">
        <div class="container">
            <div class="contacts12-main">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 mb-md-5 mb-3">
                    <h4 class="section-title">we want to here from you</h4>
                </div>
                <!-- contact form -->
                <form action="mailto:amanaks4554@gmail.com" method="post" class="form">
                    <div class="main-input">
                        <div>

                            <input type="text" name="name" id="name" placeholder="Your Name" class="contact-input"
                                   required />
                        </div>
                        <div class="input-icon position-relative">

                            <input type="email" name="Sender" id="Sender" placeholder="Your Email"
                                   class="contact-input" required />
                        </div>
                        <div>

                            <input type="text" name="Subject" id="Subject" placeholder="Subject" class="contact-input"
                                   required />
                        </div>
                    </div>

                    <textarea class="contact-textarea" name="Message" id="Message"
                              placeholder="Type your message here" required></textarea>
                    <div class="text-right">
                        <button class="btn btn-style btn-primary">Submit</button>
                    </div>
                </form>
                <!-- //contact form -->
            </div>
        </div>
    </section>

</div>
<script src="~/js/ASjs/bootstrap.min.js"></script>
<script src="~/js/ASjs/jquery-3.3.1.min.js"></script>
<script src="~/js/ASjs/lightbox-plus-jquery.min.js"></script>
<script src="~/js/ASjs/owl.carousel.js"></script>
<script src="~/js/ASjs/particles.min.js"></script>
<script src="~/js/ASjs/script.js"></script>