
@{
    ViewBag.Title = "Project";
}

<link href="~/css/project.css" rel="stylesheet" />
<link href="~/css/pro/responsive.css" rel="stylesheet" />
<div>
    <section class="heros" style=" text-align: center;
             color: white;
             justify-content: center;
             font-size: x-large;
             font-weight: 900;
             background-color: #2e3b8f;
             padding-top: 23vh;
             padding-bottom: 23vh;
             ">
        <div>
            <h1>PROJECT</h1>
        </div>
    </section><!-- End Hero No Slider Sectio -->
    <div class="container-fluid content-top-gap" style="    margin-top: 10px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Project</li>
            </ol>
        </nav>

    </div>
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container">
            <h2 class="text-uppercase">
                How it works
            </h2>
        </div>

        <div class="container">
            <div class="about_card-container layout_padding2-top">
                <div class="about_card">
                    <div class="about-detail">
                        <div class="about_img-container">
                            <div class="about_img-box">
                                <img src="~/images/work1.png" alt="" />
                            </div>
                        </div>
                        <div class="card_detail-ox">
                            <h4>
                                FULLY RESPONSIVE
                            </h4>
                            <p>
                                A fully responsive website will rescale itself to
                                preserve the user experience and look and feel across all devices.
                        </div>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about-detail">
                        <div class="about_img-container">
                            <div class="about_img-box">
                                <img src="~/images/work2.png" alt="" />
                            </div>
                        </div>
                        <div class="card_detail-ox">
                            <h4>
                                WELL DOCUMENTED
                            </h4>
                            <p>
                                Documentation is a practice concerned with all the processes involved in transferring documents from sources to users.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about-detail">
                        <div class="about_img-container">
                            <div class="about_img-box">
                                <img src="~/images/work3.png" alt="" />
                            </div>
                        </div>
                        <div class="card_detail-ox">
                            <h4>
                                EASY TO USE
                            </h4>
                            <p>
                                A compelling summary of the page someone is about to click on.
                                It should clearly tell them what they'll gain by clicking through.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- feature section  -->
    <section class="feature_section layout_padding">
        <div class="container">
            <h2 class="text-uppercase">
                Our Features
            </h2>
        </div>
        <div class="">
            <div class="feature_card-container layout_padding2">
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="~/images/f1.png" alt="" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>
                            CLEAN CODES
                        </h4>
                        <p>
                            A reader-focused development style that produces software that's easy to write, read and maintain.
                            Often, you may be tempted to consider your work complete when the application operates as expected.
                        </p>
                    </div>
                </div>
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="~/images/f2.png" alt="" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>
                            PERFECT SHOWCASE
                        </h4>
                        <p>
                            Fresh, Quality Content. Be succinct, interesting and new. Use language that makes sense to your audience—avoid jargon, corporate speak and acronyms.
                        </p>
                    </div>
                </div>
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="~/images/f3.png" alt="" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>
                            FREE FONT
                        </h4>
                        <p>
                            This sans-serif font is one of the best fonts for user experience (UX) and readability. Open Sans is a safe option for most experiences
                            and works best for businesses that value quality control and reliability.
                        </p>
                    </div>
                </div>
                <div class="feature_card">
                    <div class="feature_img-container">
                        <div class="feature_img-box">
                            <img src="~/images/f4.png" alt="" />
                        </div>
                    </div>
                    <div class="feature_detail-box">
                        <h4>
                            HIGH RESOLUTION
                        </h4>
                        <p>
                            Content is detail and describes both sides of a story and is not promoting a single product, idea or service.
                            A high quality website has versions for non PC users as well.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end feature section -->
</div>

<script src="~/js/ASjs/bootstrap.js"></script>
<script src="~/js/ASjs/jquery-3.4.1.min.js"></script>